<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>EnableC6</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
			<key>DropOem</key>
			<false/>
			<key>NoOemTableId</key>
			<false/>
			<key>NoDynamicExtract</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>smartUPS</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename EHC1 to EH01 (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename EHC2 to EH02 (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RVVTQg==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename EUSB to EH01 (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>VVNCRQ==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename USBE to EH02 (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename XHCI to XHC (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDMQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename XHC1 to XHC (USB)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename EC0 to EC (USB Power)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename H_EC to EC (USB Power)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename ECDV to EC (USB Power)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU (Graphics)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>UEVHUA==</data>
					<key>Replace</key>
					<data>R0ZYMA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename PEGP to GFX0 (Graphics)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename HECI to IMEI (PAVP)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename MEI to IMEI (PAVP)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QVpBTA==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename AZAL to HDEF (Audio)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename HDAS to HDEF (Audio)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename SAT0 to SATA (Disk)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename LPC to LPCB (Power)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename _OSI to XOSI (OS)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename _DSM to XDSM (NVDIMM)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WkRTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename _DSM to ZDSM (NVDIMM)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>oAqTU1RBUwE=</data>
					<key>Replace</key>
					<data>oAqRCv8L//8=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Fix RTC _STA bug</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixRegions</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixRTC</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>DeleteUnused</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultVolume</key>
		<string>system</string>
		<key>NeverHibernate</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>0</integer>
		<key>NeverDoRecovery</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ShowOptimus</key>
		<false/>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
		</dict>
		<key>KbdPrevLang</key>
		<false/>
		<key>Scan</key>
		<true/>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<true/>
		<key>HWPEnable</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>InjectLAN</key>
		<false/>
		<key>InjectHDMI</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>device-id</key>
				<data>cKEAAA==</data>
				<key>layout-id</key>
				<data>EgAAAA==</data>
				<key>model</key>
				<string>100 Series/C230 Series Chipset Family HD Audio Controller</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>BwCbPg==</data>
				<key>framebuffer-con3-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-con3-busid</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con1-index</key>
				<data>AgAAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con0-index</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-busid</key>
				<data>BAAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>force-online</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con3-type</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con0-type</key>
				<data>AAQAAA==</data>
				<key>framebuffer-con1-busid</key>
				<data>BgAAAA==</data>
				<key>framebuffer-con0-busid</key>
				<data>BQAAAA==</data>
				<key>framebuffer-con0-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con3-pipe</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con0-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>model</key>
				<string>Intel UHD Graphics 630 (Desktop)</string>
				<key>framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-con3-flags</key>
				<data>IAAAAA==</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>framebuffer-con2-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>framebuffer-con2-flags</key>
				<data>xwMAAA==</data>
				<key>framebuffer-con1-flags</key>
				<data>xwMAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AAAAAw==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con0-flags</key>
				<data>xwMAAA==</data>
				<key>framebuffer-con3-index</key>
				<data>/////w==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>framebuffer-con2-index</key>
				<data>AwAAAA==</data>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>HighCurrent</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelLapic</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>9oDUAAAAgHU6</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>9oDUAAAAgOs6</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.9.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>9oDUAAAAgHU0</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>9oDUAAAAgOs0</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.10.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>Zj0AAQ==</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>Zj0AAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable XHCI 1.0 check, 10.9.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>QbzHAgDgPQABAAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>QbzHAgDgPQAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable XHCI 1.0 check, 10.10.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>QcdHCAAAQAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>QcdHCAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Patch MSI or pin interrupts #1, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>gUkIAABAAA==</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>gUkIAAAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Patch MSI or pin interrupts #2, 10.10.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable the sleep code leaving the controller in non-working state after wake, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>dU1Ii7voAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>601Ii7voAQAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable PCI power management if there is no such code in DSDT, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>Comment</key>
				<string>USB Port limit patch #1/2 10.15.x (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>Comment</key>
				<string>USB Port limit patch #2/2 10.15.x (credit DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAD///8=</data>
				<key>Find</key>
				<data>6NQAAADrBeg=</data>
				<key>MaskFind</key>
				<data>/wD///////8=</data>
				<key>Comment</key>
				<string>KbeBS-EXT (kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>6NQAAACQkOg=</data>
				<key>StartPattern</key>
				<data>AQAx/74UAAU=</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAAAAP///////wAAAA==</data>
				<key>Find</key>
				<data>6HXmDgCFwA+E+gAAAEmLRQ==</data>
				<key>MaskFind</key>
				<data>/wAAAP//////AP///////w==</data>
				<key>Comment</key>
				<string>KbeBS-SIP (kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>6HXmDgCFwJCQkJCQkEmLRQ==</data>
				<key>StartPattern</key>
				<data>AgAAQb8BAADc</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAAAAAAD//wAAAAAA</data>
				<key>Find</key>
				<data>/4A9JZxOAAAPhRcBAABB</data>
				<key>MaskFind</key>
				<data>////AAAA/////wD/////</data>
				<key>Comment</key>
				<string>KbeBS-KxldUnmap (vit9696, kuckkuck)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.16</string>
				<key>Replace</key>
				<data>/4A9JZxOAACQ6RcBAABB</data>
				<key>StartPattern</key>
				<data>SI0VKyYlAA==</data>
				<key>Count</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>EightApple</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C07XV0KCJYVXABCDE</string>
		<key>ROM</key>
		<data>vhTEPRrs</data>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF466</string>
		<key>Board-ID</key>
		<string>Mac-7BA5B2DFE22DDD8C</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFDFFF7F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MM81.88Z.F000.B00.2005132145</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Mini-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x20</string>
		<key>Family</key>
		<string>Mac mini</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C07914404GUKXPG1M</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>Macmini8,1</string>
		<key>SmUUID</key>
		<string>04F6FC85-D658-4D92-8716-F2CF497D034A</string>
		<key>Mobile</key>
		<false/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1037.120.87.0.0</string>
		<key>SerialNumber</key>
		<string>C07XV0KCJYVX</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>05/13/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>NoCaches</key>
		<true/>
		<key>CustomUUID</key>
		<string>C5D782C4-BA10-413E-B555-FCE61738F204</string>
		<key>InjectSystemID</key>
		<true/>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>RebuildAppleMemoryMap</key>
		<false/>
	</dict>
</dict>
</plist>